//Mixins

@mixin header-font($size) {
    font-family: $header-font;
    color: $main-color;
    font-size: $size;
}

@mixin standard-font() {
    font-family: $standard-font;
    font-size: $standard;
    color: $paragraph-color*2;
}

@mixin cta-btn() {
    font-family: $standard-font;
    font-size: $standard;
    padding: $small;
    background-color: $main-color;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: $main-color*1.2;
    }

}