//Variables

$header-font: 'Patrick Hand', cursive;
$standard-font: 'Tahoma', sans-serif;
$main-color: #f584a9;
$secondary-color: #353535;
$light-color: $secondary-color*3;

$large: 2em;
$standard: 1em;
$small: 0.6em;