//Variables

$header-font: 'Purple Purse', cursive;
$standard-font: 'Epilogue', sans-serif;

$main-color: #333366;
$secondary-color: #ff6666;
$paragraph-color: #353535;
$light-color: $secondary-color*3;

$large: 2em;
$standard: 1em;
$small: 0.6em;