* {
  margin: 0;
  padding: 0;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.container p,
.container a {
  font-family: "Epilogue", sans-serif;
  font-size: 1em;
}

.container h1 {
  font-family: "Purple Purse", cursive;
  color: #66cc66;
  font-size: 2em;
}

.container h2 {
  font-family: "Purple Purse", cursive;
  color: #66cc66;
  font-size: 2em;
}

.container .section-title {
  padding: 1em;
  text-align: center;
}

.container .section-description {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #6a6a6a;
  padding-bottom: 1em;
  border-bottom: 1px solid #d4d4d4;
}

.container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0 0 16px 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.container nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.6em;
}

.container nav .nav-links a {
  text-decoration: none;
  color: #ff6666;
  padding: 0.6em;
  border-radius: 16px;
}

.container nav .nav-links a:hover {
  background-color: #66cc66;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.container nav img {
  width: 64px;
}

.container #hero {
  height: 924px;
  width: 100%;
  background: url("../img/hero.png");
  border-radius: 16px;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #hero #hero-cta {
  margin-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #hero #hero-cta h2 {
  font-size: 3em;
}

.container #hero #hero-cta a {
  font-size: 1em;
  text-decoration: none;
  background-color: #ff6666;
  color: #fff;
  border-radius: 16px;
  padding: 1em;
}

.container #hero #hero-cta a:hover {
  background-color: #ff9999;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container #recipe-list {
  margin-top: 2em;
  border-top: 1px solid #d4d4d4;
}

.container #recipe-list .recipe-preview {
  margin: 1em;
  padding: 1em;
  border-bottom: 1px solid #d4d4d4;
}

.container #recipe-list .recipe-preview a {
  text-decoration: none;
  color: #353535;
}

.container #recipe-list .recipe-preview:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.container #create-blog form {
  margin: 0 auto;
  max-width: 50%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container #create-blog form label {
  font-family: "Epilogue", sans-serif;
  font-size: 1em;
  color: #6a6a6a;
  margin: 1em 0 1em 0;
}

.container #create-blog form .input-name-title,
.container #create-blog form textarea {
  padding: 1em;
  font-size: 1em;
  font-family: "Epilogue", sans-serif;
}

.container #create-blog form .input-name-title:focus,
.container #create-blog form textarea:focus {
  border: 1px solid #66cc66;
}

.container #create-blog form button {
  padding: 1em;
  background-color: #66cc66;
  border-radius: 16px;
  border: none;
  font-family: "Epilogue", sans-serif;
  font-size: 1em;
  color: #fff;
  margin: 1em 0 1em 0;
  cursor: pointer;
}

.container #create-blog form button:hover {
  background-color: #70e070;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.container #recipe {
  margin: 2em;
}

.container #recipe h2 {
  text-align: center;
}

.container #recipe .author {
  text-align: center;
}

.container #recipe p {
  margin-top: 2em;
}
/*# sourceMappingURL=main.css.map */