* {
    margin: 0;
    padding: 0;
}

@import 'variables';
@import 'mixins';


.container {
    width: 80vw;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p,
    a {
        font-family: $standard-font;
        font-size: $standard;
    }

    h1 {
        @include header-font($large);
    }

    h2 {
        @include header-font($large);
    }

    .section-title {
        padding: $standard;
        text-align: center;
    }

    .section-description {
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: $paragraph-color*2;
        padding-bottom: $standard;
        border-bottom: 1px solid $paragraph-color*4;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $small/2;
        position: sticky;
        top: 0;
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0 0 16px 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        .nav-links {
            display: flex;
            gap: $small;

            a {
                text-decoration: none;
                color: $secondary-color;
                padding: $small;
                border-radius: 16px;

                &:hover {
                    background-color: $main-color;
                    color: #fff;
                    transition: 0.3s ease;
                }
            }
        }

        img {
            width: 64px;

        }
    }

    #hero {
        height: 924px;
        width: 100%;
        background: url('../img/hero.png');
        border-radius: 16px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;

        #hero-cta {
            margin-left: $large;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                font-size: $large*1.5;
            }

            a {
                font-size: $standard;
                text-decoration: none;
                background-color: $secondary-color;
                color: #fff;
                border-radius: 16px;
                padding: $standard;

                &:hover {
                    background-color: $secondary-color*1.5;
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }

    #recipe-list {
        margin-top: $large;
        border-top: 1px solid $paragraph-color*4;

        .recipe-preview {
            margin: $standard;
            padding: $standard;
            border-bottom: 1px solid $paragraph-color*4;

            a {
                text-decoration: none;
                color: $paragraph-color;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.2);
                border-radius: 16px;
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                transition: 0.1s ease-in-out;
            }
        }
    }

    #create-blog {


        form {
            margin: 0 auto;
            max-width: 50%;
            padding: $large;
            display: flex;
            flex-direction: column;
            justify-content: center;

            label {
                @include standard-font();
                margin: $standard 0 $standard 0;
            }

            .input-name-title,
            textarea {
                padding: $standard;
                font-size: $standard;
                font-family: $standard-font;

                &:focus {
                    border: 1px solid $main-color;
                }
            }

            button {
                padding: $standard;
                background-color: $main-color;
                border-radius: 16px;
                border: none;
                font-family: $standard-font;
                font-size: $standard;
                color: #fff;
                margin: $standard 0 $standard 0;
                cursor: pointer;

                &:hover {
                    background-color: $main-color*1.1;
                    transition: 0.3s ease-in-out;
                }
            }

        }
    }

    #recipe {
        margin: $large;

        h2 {
            text-align: center;
        }

        .author {
            text-align: center;
        }

        p {
            margin-top: $large;
        }
    }

    footer {
        background-color: $secondary-color;
        padding: $large;

        border-radius: 16px 16px 0 0;

        p.section-description {
            border: none !important;
            color: #fff !important;
        }
    }
}