* {
    margin: 0;
    padding: 0;
}

@import 'variables';
@import 'mixins';


.container {
    width: 80vw;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: ce;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $standard;
        position: sticky;
        top: 0;

        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        img {
            width: $large*2
        }

        section {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: $small;

            img {
                border-radius: 50%;
                width: $large *2;
            }

            button {
                @include cta-btn();
            }
        }
    }

    #feed {
        margin: 0 auto;
        margin-top: $large;

        .card {
            border: 1px solid $light-color;
            border-radius: 3px;

            .cardtop {
                display: flex;
                align-items: center;
                gap: $standard;
                margin-bottom: $small;

                img {
                    margin: $small;
                    width: 64px;
                }
            }

            .engagement {
                background-color: $main-color;
                padding: $small;
                display: flex;
                gap: $standard;

                p {
                    color: #fff;
                }
            }

            .comments {
                margin-top: $small;

                .comment {
                    display: flex;
                    align-items: center;
                    gap: $standard;
                    margin: $small;
                    border: 1px solid $light-color;

                    img {
                        width: 48px;
                        margin: $small;
                    }
                }
            }

            .addComment {
                display: flex;
                flex-direction: column;

                input {
                    font-size: $standard;
                    padding: $small;
                    font-family: $standard-font;
                    outline: none;
                    border: 1px solid transparent;

                    &:focus {
                        border-bottom: 1px solid $main-color;
                    }
                }

                button {
                    margin-top: $small;
                    @include cta-btn;
                }
            }
        }
    }
}

h1 {
    @include header-font();
}

p {
    @include standard-font();
}